# Date Mining - 01 - Import

## Setup

In [26]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import yaml
import regex 

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
# pd.set_option('display.max_rows', None)

sns.set_style("darkgrid")

from IPython.display import display, Markdown
from pprint import pprint 

DEBUG = True
SEED = 666

In [27]:
DATASET = "dates.csv"

import os, sys
COLAB = 'google.colab' in sys.modules
ROOT = "./"

if COLAB:
  from google.colab import drive
  if not os.path.isdir("/content/gdrive"):
    drive.mount("/content/gdrive")
    d = "/content/gdrive/MyDrive/datasets"
    if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d)
  ROOT = f"/content/gdrive/MyDrive/datasets/{DATASET.replace(' ','_')}/"
  if not os.path.isdir(ROOT): os.makedirs(ROOT)


def makedirs(d):
  if COLAB:
    if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d)
  else:
    if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d, mode=0o777, exist_ok=True)

for d in ['orig','data','output']: makedirs(d)

## Dataset

In [28]:
if os.path.isfile(ROOT+ "orig/"+DATASET):
    print("Using local copy...")
    df = pd.read_csv(ROOT+ "orig/"+DATASET)
else:
    print("Downloading dataset...")
    df = pd.read_csv("https://setu-datamining2.github.io/live/topics/21-Assignments/03-Mining_Dates/files/public.csv")
    df.to_csv(ROOT+ "orig/"+DATASET, index=False)

Using local copy...

## Import/Clean

Algorithm:
* Build sequence of regex patterns to match the date formats (starting with most restrictive)
* For each regex pattern find rows that match:
  * find rows that match
  * extract the day, month, year
  * update df

In [29]:
df = pd.read_csv(ROOT+ "orig/"+DATASET)
print(df.shape)

(715, 2)

In [30]:
def clean(str):
    return str

In [31]:
df["Data"] = df.Raw.apply(clean)
df["Iter"] = 0
df["Day"] = 0
df["Month"] = 0
df["Year"] = 0
# Add Date Later

### Helper functions

In [32]:
def info():
    """Show rows matched and rows unmatched"""

    display(df.head())

### `mm/dd/yyyy`

In [39]:
df_tmp = df.loc[df.Code==1148116416, "Data"]
display(df_tmp)

regex = r"(\d{1,2})[-/](\d{1,2})[-/](\d{2,4})"

df_tmp.str.extract(regex)

9    24 yo right handed woman with history of large...
Name: Data, dtype: object

    0  1     2
9  11  3  1985

In [ ]:
# Apply

iter = 0

### Steps
- Take ``raw`` column of data and clean it
  - Clean spelling mistakes in dates
- Create a new column ``clean`` with cleaned data
- Create a new column ``iter`` with the iteration number of the date
- Iterate over each column checking Regex patterns and extracting the date

### Requirements
- ``Day`` column
- ``Month`` column
- ``Year`` column
- ``Date`` column