# German Credit - 02 - Import

## Setup

In [9]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import yaml

pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)
# pd.set_option('display.max_rows', None)

sns.set_style("darkgrid")

from IPython.display import display, Markdown
from pprint import pprint 

DEBUG = True
SEED = 666

In [10]:
DATASET = "German Credit"

import os, sys
COLAB = 'google.colab' in sys.modules
ROOT = "./"

if COLAB:
  from google.colab import drive
  if not os.path.isdir("/content/gdrive"):
    drive.mount("/content/gdrive")
    d = "/content/gdrive/MyDrive/datasets"
    if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d)
  ROOT = f"/content/gdrive/MyDrive/datasets/{DATASET.replace(' ','_')}/"
  if not os.path.isdir(ROOT): os.makedirs(ROOT)


def makedirs(d):
  if COLAB:
    if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d)
  else:
    if not os.path.isdir(ROOT+d): os.makedirs(ROOT+d, mode=0o777, exist_ok=True)

for d in ['orig','data','output']: makedirs(d)

## Datasets

In [11]:
for filename in ["german.data", "german.doc", "german.data-numeric"]:
    source = f"https://archive.ics.uci.edu/ml/machine-learning-databases/statlog/german/{filename}"
    target = f"{ROOT}/orig/{filename}"
    if not os.path.isfile(target):
        print (f"Downloading remote file {filename}", sep="")
        import urllib.request
        urllib.request.urlretrieve(source, target)
    else:
        print(f"Using local copy of {filename}")

Using local copy of german.data
Using local copy of german.doc
Using local copy of german.data-numeric

In [12]:
df = pd.read_pickle(f"{ROOT}/data/labeled.pkl")
print(df.shape)
df.head(5)

(1000, 21)

             Account_Balance  Loan_Duration                                  Credit_History               Loan_Purpose  Loan_Amount                            Savings             Years_Employed  Installment_Rate                          Gender_and_Status Other_Debtors_Guarantors  Year_of_Residence                                           Property  Age Installment_Plans          Housing  Existing_Credits                                 Job  Dependents                                        Telephone     Foreign  Credit_Rating
0        (A11) ... <    0 DM              6                         (A34) critical account/     (A43) radio/television         1169  (A65) unknown/ no savings account        (A75) .. >= 7 years                 4                      (A93) male   : single              (A101) none                  4                                 (A121) real estate   67       (A143) none       (A152) own                 2  (A173) skilled employee / official           1  (A192) yes, registered under the customers name  (A201) yes              1
1   (A12) 0 <= ... <  200 DM             48  (A32) existing credits paid back duly till now     (A43) radio/television         5951                (A61) ... <  100 DM  (A73) 1  <= ... < 4 years                 2  (A92) female : divorced/separated/married              (A101) none                  2                                 (A121) real estate   22       (A143) none       (A152) own                 1  (A173) skilled employee / official           1                                      (A191) none  (A201) yes              2
2  (A14) no checking account             12                         (A34) critical account/            (A46) education         2096                (A61) ... <  100 DM  (A74) 4  <= ... < 7 years                 2                      (A93) male   : single              (A101) none                  3                                 (A121) real estate   49       (A143) none       (A152) own                 1         (A172) unskilled - resident           2                                      (A191) none  (A201) yes              1
3        (A11) ... <    0 DM             42  (A32) existing credits paid back duly till now  (A42) furniture/equipment         7882                (A61) ... <  100 DM  (A74) 4  <= ... < 7 years                 2                      (A93) male   : single         (A103) guarantor                  4  (A122) if not A121 : building society savings ...   45       (A143) none  (A153) for free                 1  (A173) skilled employee / official           2                                      (A191) none  (A201) yes              1
4        (A11) ... <    0 DM             24           (A33) delay in paying off in the past            (A40) car (new)         4870                (A61) ... <  100 DM  (A73) 1  <= ... < 4 years                 3                      (A93) male   : single              (A101) none                  4                       (A124) unknown / no property   53       (A143) none  (A153) for free                 2  (A173) skilled employee / official           2                                      (A191) none  (A201) yes              2

## Quiz

what is the total of `Loan_Amount`?

In [13]:
df['Loan_Amount'].sum()

3271258